@media screen and (max-width: 767px) {
  .header-nav-list,
  .header-contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  /**-----------------------HEADER   */
  .header-container {
    width: 100%;
    height: 72px;
    display: flex;
  }
  .menu-open-btn {
    display: none;
  }
  .header {
    border-bottom: 1px solid#e7e9fc;
    /* #e7e9fc */
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .header-nav {
    display: flex;
    align-items: center;
  }
  .header-logo {
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;

    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--corporate-color);
  }

  .header-logo-span {
    color: var(--title-text-color);
  }

  .header-nav-list {
    display: flex;
    margin-left: 120px;
  }

  .header-item:not(:last-child) {
    margin-right: 40px;
  }

  .header-item-link {
    position: relative;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    transition: color --timing-function;
  }

  .header-item-link.current {
    color: var(--corporate-color);
  }

  .header-item-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--hover-link-color);
    border-radius: 2px;
    /* transition: opacity 250ms var(--timing-function);
  opacity: 1; */
  }

  .header-contacts {
    margin-left: auto;
  }
  /* 
  .header-contacts-list {
  }*/
  .contacts-item:not(:last-child) {
    margin-bottom: 12px;
  }

  .contacts-item-link {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    color: var(--text-color);
  }

  /**-----------------------HERO  */
  .hero-container {
    margin: 0 auto 96px;
    padding: 112px 136px;
    background-color: var(--hero-background-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tab-1x-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tab-2x-min.jpg);
    }
  }
  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
  }
  .hero-btn {
    margin-top: 36px;
  }
  /**-------------------------ABOUT  */

  .about-container {
    margin-bottom: 96px;
  }
  .about-us {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .about-list-wrap {
    width: 356px;
  }
  .about-title-item {
    text-align: left;
  }
  /**--------------------OUR TEAM  */
  .ourteam-section {
    margin-bottom: 0px;
  }
  .ourteam-cards {
    column-gap: 24px;
    row-gap: 72px;
  }
  .card-info:not(:last-child) {
    margin-bottom: 0px;
  }
  /**---------------------CUSTOMERS */
  .customers-section {
    margin-bottom: 0px;
  }
  .customers-container {
    width: 100%;
    padding: 108px 96px;
  }
  .cutomers-list {
    column-gap: 24px;
  }
  .customer-link {
    display: flex;
    width: 160px;
    height: 88px;
  }
  /**--------------------FOOTER  */
  .footer-container {
    padding-left: 108px;
    padding-right: 108px;
    justify-content: left;
    text-align: left;
    column-gap: 24px;
    row-gap: 72px;
  }
  .footer-logo-container {
    margin-bottom: 0px;
  }
  .input-container {
    justify-content: center;
  }
  .subscribe-form .subscribe-input {
    width: 264px;
    margin-bottom: 0px;
  }
  .subsctibe-button {
    margin-left: 24px;
  }
  /**-------------------------------MODAL */
  .modal {
    width: 408px;
  }
}
