@media screen and (min-width: 1200px) {
  /**-------------------HEADER  */
  .container {
    max-width: 1158px;
  }
  .contacts-item-link:hover,
  .contacts-item-link:focus {
    color: var(--hover-link-color);
  }
  /**--------------------HERO */
  .hero-container {
    padding: 188px 472px;
  }

  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    /* or 107% */
    text-align: center;
    letter-spacing: 0.02em;
  }
  .hero-btn {
    margin-top: 48px;
  }
}
