@media screen and (max-width: 1157px) {
  .wawd-section {
    display: none;
  }
  .features-thumb {
    display: none;
  }
}
@media screen and (min-width: 1158px) {
  /**-------------------HEADER  */
  .container {
    max-width: 1158px;
  }

  .header-item-link {
    transition: color --timing-function;
  }
  .header-item-link:hover,
  .header-item-link:focus {
    color: var(--hover-link-color);
  }
  .header-contacts-list {
    height: 100%;
    display: flex;
    gap: 40px;
  }
  .contacts-item {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .contacts-item:not(:last-child) {
    margin-bottom: 0px;
  }
  .contacts-item-link {
    transition: color var(--timing-function);
  }
  .contacts-item-link:hover,
  .contacts-item-link:focus {
    color: var(--hover-link-color);
  }
  .contacts-item-link {
    font-size: 16px;
    line-height: 1.5;
  }
  /**--------------------HERO */
  .hero-section {
    padding: 188px 0;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-desk-1x-min.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-desk-2x-min.jpg);
    }
    .hero-container {
      width: 496px;
    }

    .hero-container {
      text-align: center;
    }
    .hero-btn {
      margin-top: 48px;
    }
    /**--------------------------------ABOUT  */
    .about {
      padding-top: var(--section-padding);
      padding-bottom: var(--section-padding);
    }
    .about-list-wrap:not(:last-child) {
      margin: 0;
    }
    .features-thumb {
      background-color: var(--ourteam-background);
      width: 264px;
      height: 112px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      margin-bottom: 8px;
    }
    .features-icon {
      width: 64px;
      height: 64px;
    }
    .about-list-wrap {
      width: 264px;
    }

    .about-title-item {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      color: #2e2f42;
      margin-bottom: 8px;
    }
    .about-text-item {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #434455;
    }

    /**----------------------WHAT ARE WE DOING  */
    .wawd-section {
      padding-bottom: var(--section-padding);
    }

    .wawd-title {
      text-align: center;

      font-size: 36px;
      line-height: 1.11;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      color: var(--title-text-color);
    }
    .wawd {
      display: flex;
      margin-top: 72px;
      gap: var(--card-set-gap);
    }
  }
  /**--------------------------------OUR TEAM  */
  .ourteam-section {
    padding: 120px 0;
  }
  .ourteam-cards {
    width: 100%;
    column-gap: 24px;
    row-gap: 0;
  }
  .team-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--hero-btn-background);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background var(--timing-function);
  }

  .team-soc-link:hover,
  .team-soc-link:focus {
    background-color: var(--pressed-btn-background);
    border-color: var(--pressed-btn-background);
  }
  /**---------------------CUSTOMERS */
  .customers-section {
    padding: 120px 0;
  }
  .cutomers-list {
    width: 100%;
    gap: 24px;
  }
  .customer-link {
    width: 168px;
  }
  .customer-link {
    transition: color var(--timing-function),
      border-color var(--timing-function);
  }
  /**--------------------FOOTER  */
  .footer {
    padding: 100px 0;
  }
  .footer-container {
    width: 100%;
    flex-wrap: nowrap;
    gap: 0;
  }
  .soc-link-container {
    margin-left: 120px;
  }
  .footer-logo-container {
    margin-bottom: 0px;
  }
  .subscribe-form {
    display: block;
    margin-left: 78px;
    height: 80px;
    /* width: 453px; */
  }

  .input-container {
    justify-content: center;
  }
  .subscribe-form .subscribe-input {
    width: 264px;
  }
  .subsctibe-button {
    margin-left: 24px;
  }

  .soc-list-footer-link {
    transition: background var(--timing-function);
  }
  .soc-list-footer-link:hover,
  .soc-list-footer-link:focus {
    background-color: var(--pressed-btn-background);
  }
  .subsctibe-button {
    transition: background-color var(--timing-function);
  }
  /** ---------------------------------PORTFOLIO_PAGE--------------------------- */
  .projects-section {
    padding-top: 96px;
    padding-bottom: var(--section-padding);
  }

  .nav-btn-menu {
    display: flex;
    justify-content: center;
  }

  .nav-button {
    padding: 12px 24px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    background: var(--nav-btn-background);
    border: 1px solid var(--nav-btn-border-color);
    border-radius: 4px;
    color: var(--nav-btn-text-color);
    transition: background-color 250ms var(--timing-function),
      border-color 250ms var(--timing-function),
      box-shadow 250ms var(--timing-function),
      color 250ms var(--timing-function);
  }
  .nav-button:hover,
  .nav-button:focus {
    color: var(--pressed-btn-color);
    background-color: var(--pressed-btn-background);
    border-color: var(--pressed-btn-background);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  .nav-item:not(:last-child) {
    margin-right: var(--card-set-gap);
  }
  /**------------------------------PORTFOLIO CARDS */
  .projects-menu {
    display: flex;
    flex-wrap: wrap;
    margin-top: 72px;
    column-gap: var(--card-set-gap);
    row-gap: calc(var(--card-set-gap) * 2);
  }

  .project-item-link {
    display: block;
    transition: box-shadow 250ms var(--timing-function);
  }

  .project-item-link:hover,
  .project-item-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .portfolio-name-wrap {
    padding-top: 32px;
    padding-bottom: 32px;
    border: 1px solid var(--nav-btn-border-color);
    border-top: none;
  }
  .project-title {
    margin-left: 16px;
    margin-right: auto;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
  }
  .project-kind {
    margin-left: 16px;
    margin-right: auto;
    margin-top: 8px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
  }
  /**------------------------------OVERLAY */
  .portfolio-thumb {
    position: relative;
    overflow: hidden;
  }
  .overlay-text {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 40px 32px;

    transform: translateY(100%);
    transition: transform 250ms var(--timing-function);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
  }

  .project-item-link:hover .overlay-text {
    transform: translateY(0);
  }
}
